$color-primary: #163487;
$color-primary-light: #3454d1;
$color-secondary: #64baa5;
$color-tertiary: #84fab0;

$color-pastel-orange: rgb(255, 120, 84);
$color-pastel-pink: rgb(253, 38, 125);
$color-pastel-red: #ff6961;
$color-pastel-blue: #8fd3f4;
$color-pastel-green: #84fab0;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-white: #fff;
$color-black: #000;
