.card {
  // FUNCTIONALITY
  position: relative;
  height: auto;
  width: 28%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  background-color: $color-white;
  border-radius: 3px;
  overflow: hidden;

  @include respond(phone) {
    width: 100%;
    margin-bottom: 3.5rem;
  }

  &__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $color-primary;

    &--picture1 {
      background-image: url(../svg/undraw_update_uxn2.svg);
    }

    &--picture2 {
      background-image: url(../svg/undraw_upgrade_06a0.svg);
    }

    &--picture3 {
      background-image: url(../svg/undraw_fireworks_q5ji.svg);
    }
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 15.5rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    border-radius: 3px;
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: $color-secondary;
  }

  &__details {
    padding-bottom: 1rem;

    ul {
      list-style: none;
      width: 100%;
      margin: 0 auto;
      text-align: center;

      li {
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    text-align: center;
  }

  &__price-value {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
  }

  &__icons {
    margin-right: 0.5rem;

    &--check {
      color: $color-pastel-green;
    }

    &--cross {
      color: $color-pastel-red;
    }
  }
}
