.section-pricing {
  height: auto;
  display: flex;
  flex-direction: column;
}

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: translateY(4rem);
  padding-left: 4rem;
  padding-right: 4rem;

  @include respond(phone) {
    transform: none;
    flex-direction: column;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  @include respond(tab-land) {
    transform: translateY(24rem);
  }
}
