@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* heart pulsation effect */

@keyframes pulsate {
    0% {    
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rel rgba(var(--color-block), .25);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

/* typing effect */
@keyframes typing {
    from { width: 0; visibility: hidden; }
    to { width: 100%; visibility: visible; color: #000; }
}

@keyframes typingReverse {
    from { width: 100%; visibility: visible; color: #000; }
    to { width: 0; }
}

@keyframes blink-wait {
    from, to { width: 0; visibility: hidden; }
    30%, 60% { width: 45px; visibility: visible; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #999; }
}

/* glitch effect */
@keyframes glitch {
    0% {
        transform: translate(0)
    }
    20% {
        transform: translate(-5px, 5px)
    }
    40% {
        transform: translate(-5px, -5px)
    }
    60% {
        transform: translate(5px, 5px)
    }
    80% {
        transform: translate(5px, -5px)
    }
    to {
        transform: translate(0)
    }
}