.btn {
  &,
  &:link,
  &:visited {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.9rem 2rem;
    text-decoration: none;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--blue {
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
  }

  &--green {
    background-color: $color-secondary;

    &::after {
      background-color: $color-secondary;
    }
  }

  &--white {
    background-color: $color-white;
    &,
    &:link,
    &:visited {
      color: $color-primary;
    }

    &::after {
      background-color: $color-white;
    }
  }

  &--rounded {
    border-radius: 10rem;
  }

  &--scale {
    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-submit {
  &,
  &:link,
  &:visited {
    background: linear-gradient(
      260deg,
      $color-pastel-green,
      $color-pastel-blue
    );
    border: none;
    color: $color-white;
    padding: 1.25rem 2.75rem;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s;
    cursor: pointer;
  }

  &:hover {
    background: linear-gradient(
      260deg,
      $color-pastel-green,
      $color-pastel-blue
    );
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.btn-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__btn,
  &__btn:link,
  &__btn:visited {
    background-color: $color-white;
    border: none;
    color: $color-grey-dark-3;
    padding: 1rem 1.75rem;
    text-align: center;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border: 3px solid $color-grey-light-2;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__btn:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &__btn:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }

  &__icon {
    margin-right: 1rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
