.footer {
  background-color: $color-primary;
  padding: 8rem;
  display: flex;
  justify-content: space-around;
  transform: translateY(8rem);

  @include respond(phone) {
    flex-direction: column;
    padding: 3.5rem;
    transform: none;
  }

  @include respond(tab-land) {
    transform: translateY(28rem);
  }
}

.nav {
  list-style: none;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: inherit;
    text-transform: uppercase;
    padding: 1rem 0 1rem 0;
    display: block;
    transition: all 0.2s;

    @include respond(phone) {
      text-transform: none;
    }
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }

  &__icon {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  @include respond(phone) {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
